<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <bean id="main" class="restaurant.Main">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="alertAndErrorMessages" class="restaurant.AlertAndErrorMessages"/>

    <bean id="usersController" class="restaurant.controllers.UsersController">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="txManager" ref="txManager"/>
    </bean>

    <bean id="dishController" class="restaurant.controllers.DishController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="ingredientController" class="restaurant.controllers.IngredientController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="warehouseController" class="restaurant.controllers.WarehouseController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="orderController" class="restaurant.controllers.OrderController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="preparedController" class="restaurant.controllers.PreparedController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="menuController" class="restaurant.controllers.MenuController">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="viewsWarehouse" class="restaurant.Views.ViewsWarehouse"/>

</beans>