<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <tx:annotation-driven transaction-manager="txManager" proxy-target-class="true"/>

    <bean id="main" class="restaurant.Main" >
        <property name="dishController" ref="dishController"/>
    </bean>

    <bean id="usersDao" class="restaurant.jdbc.database.UsersDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="usersController" class="restaurant.controllers.UsersController" >
        <property name="txManager" ref="txManager"/>
        <property name="usersDao" ref="usersDao"/>
    </bean>

    <bean id="dishDao" class="restaurant.jdbc.database.DishDao" >
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="dishController" class="restaurant.controllers.DishController" >
        <property name="txManager" ref="txManager"/>
        <property name="dishDao" ref="dishDao"/>
    </bean>

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driver.class}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.user}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxPoolSize" value="${jdbc.max.connections}"/>
        <property name="minPoolSize" value="${jdbc.min.connections}"/>
        <property name="acquireIncrement" value="${jdbc.acquire.increment}"/> <!-- сколько за раз будут создаваться соединений-->
   </bean>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

</beans>